# --- Python ---
__pycache__/
*.py[cod]
*.class
.venv/
env/
venv/
*.egg-info/

# --- Go ---
# Ignore compiled binaries (exe on Windows, no extension on Linux)
# It's best practice to build binaries into a /bin folder, so we ignore that
bin/
*.exe
*.test
*.out

# --- Editor/OS ---
.vscode/
.idea/
.DS_Store
*.swp
